/* common ground */

:root {
  --gradation: linear-gradient(to bottom, rgb(254, 172, 21), rgb(248, 193, 91));
  --gradation-start: rgb(254, 172, 21);
  --gradation-end: rgb(248, 193, 91);
  --shadow: rgb(154, 103, 8);
  --main-color: orange;
  --sub-color: rgb(118, 78, 4);
  --title-color: rgb(163, 111, 7);
  --border-color: #f1e7e7;
  --border-sub-color: rgb(253, 215, 145);
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body,
html {
  padding: 0;
  margin: 0;
}

img {
  width: 100px;
  height: auto;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

/* common ground */

/* first-page */
#first-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: var(--gradation);
}

.account-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  background: #fff;
  padding: 3rem;
  width: 30%;
  border-radius: 2rem;
}

.game-title {
  font-size: 3.5rem;
  color: var(--title-color);
}

.input-user-name {
  font-size: 1.8rem;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 3px solid var(--border-color);
}

.input-user-name:focus {
  outline: none;
  border: 3px solid var(--main-color);
  transition: 0.4s;
}

.account-buttons {
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.new-btn,
.login-btn {
  width: 50%;
  font-size: 1.6rem;
  padding: 1rem;
  border: 0;
  background-color: var(--gradation-start);
  border-radius: 2rem;
  border-color: var(--gradation-start);
  box-shadow: 0 3px 0px var(--shadow);
  color: #fff;
}

.new-btn:hover,
.login-btn:hover {
  background-color: var(--gradation-start);
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(3px);
  box-shadow: none;
}

.new-btn {
  margin-right: 2.4rem;
}

/* first-page */

/* second-page */

#second-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: var(--gradation);
  color: white;
}
/* second-page */

.main-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  background: var(--sub-color);
  padding: 3rem;
  width: 75%;
  height: 75%;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
}

.left-section {
  background: var(--gradation);
  padding: 2rem 2rem;
  width: 30%;
}

.burger-info {
  background: var(--sub-color);
  padding: 0.1rem 0;
  margin-bottom: 4rem;
  font-size: 2rem;
}

.burger-image img {
  height: 180px;
  width: auto;
}

.burger-image img:active {
  transform: rotateX(180deg);
}

.right-section {
  box-sizing: border-box;
  background: var(--gradation);
  padding: 2rem 2rem;
  width: 60%;
}

.user-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-name,
.user-age,
.days-passed,
.user-money {
  width: 49%;
  background: var(--sub-color);
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0.2rem;
}

.item-section {
  box-sizing: border-box;
  margin: 0.3rem;
}

.items {
  width: 100%;
  padding: 0;
  overflow: scroll;
  height: 27rem;
}

.item {
  display: flex;
  justify-content: space-around;
  background: var(--sub-color);
  margin-bottom: 1rem;
}

.item:hover {
  border: 3px solid var(--border-sub-color);
}

.item img {
  width: 20%;
  height: auto;
  padding: 1rem 1.5rem;
}

.item-info {
  width: 40%;
}

.item-info p {
  text-align: left;
}

.item-name {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}

.item-price {
  font-size: 1.8rem;
  margin-top: 0;
}

.item-count {
  text-align: right;
  padding-right: 2rem;
  width: 40%;
  font-size: 1.8rem;
}

.item-counter {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}

.item-click {
  margin-top: 0;
  color: var(--main-color);
}

.purchase-section {
  overflow: scroll;
  height: 27rem;
  background: var(--sub-color);
}

.purchase-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.purchase-info {
  font-size: 1.6rem;
  width: 40%;
}

.item-img-info img {
  padding: 2rem;
  width: 16rem;
  height: auto;
}

.purchase-counter {
  width: 94%;
  padding: 1rem;
}

.purchase-counter p {
  font-size: 1.8rem;
}

.purchase-question {
  text-align: left;
}

.purchase-total-price {
  text-align: right;
}
.purchase-counter input {
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  padding: 0.6rem;
}

.purchase-counter input:focus {
  border: 3px solid var(--gradation-start);
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.goback-btn,
.purchase-btn {
  padding: 0.6rem;
  font-size: 1.6rem;
  width: 45%;
  box-sizing: border-box;
  border: 0;
  background-color: var(--gradation-start);
  border-radius: 0.6rem;
  border-color: var(--gradation-end);
  box-shadow: 0 3px 0px var(--shadow);
  color: #fff;
}

.goback-btn:hover,
.purchase-btn:hover {
  background-color: var(--gradation-start);
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(3px);
  box-shadow: none;
}

.page-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 68%;
  left: 91.5%;
}

.page-buttons button {
  background: var(--sub-color);
  color: var(--border-sub-color);
  width: 9rem;
  height: 6rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  outline: none;
}

.page-buttons button:hover {
  cursor: pointer;
  opacity: 0.9;
  border: 3px solid var(--border-sub-color);
}

/* responsive for smartphone */

@media screen and (max-width: 480px) {
  .account-page {
    width: 80%;
  }

  #second-page {
    width: 100%;
    height: auto;
  }

  .main-page {
    position: static;
    transform: none;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    border-radius: 0;
  }

  .left-section {
    background: var(--gradation);
    padding: 2rem 2rem;
    width: 90%;
  }

  .burger-info {
    background: var(--sub-color);
    padding: 0.1rem 0;
    margin-bottom: 4rem;
    font-size: 2rem;
  }

  .user-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .user-name,
  .user-age,
  .days-passed,
  .user-money {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.6rem;
    margin: 0.2rem;
  }

  .right-section {
    padding: 2rem 2rem;
    width: 100%;
    box-sizing: border-box;
  }

  .item-section {
    margin-top: 2rem;
  }

  .item img {
    width: 25%;
  }

  .item-info {
    width: 40%;
  }

  .item-info p {
    text-align: left;
  }

  .item-name {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }

  .item-price {
    font-size: 1.4rem;
    margin-top: 0;
  }

  .item-count {
    text-align: right;
    padding-right: 2rem;
    width: 30%;
    font-size: 1.4rem;
  }

  .item-counter {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }

  .purchase-info {
    font-size: 1.4rem;
    width: 40%;
  }

  .item-img-info img {
    padding: 1rem;
    width: 10rem;
    height: auto;
  }

  .purchase-counter {
    box-sizing: border-box;
    width: 94%;
    padding: 1rem;
  }

  .purchase-counter p {
    font-size: 1.6rem;
  }

  .purchase-question {
    text-align: left;
  }

  .purchase-total-price {
    text-align: right;
  }
  .purchase-counter input {
    width: 100%;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    padding: 0.6rem;
  }

  .page-buttons {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
  }

  .page-buttons button {
    background: var(--sub-color);
    color: var(--border-sub-color);
    width: 95%;
    height: 6rem;
    margin: 1rem auto;
    padding: 0.8rem;
  }
}
